<!-- Jumbotron -->
<div id="home" class="shadow scrollto jumbotron">
  <!-- <img  src="img/jumbo_bg.jpg"> -->

  <div class="banner">
    <div class="banner-area">
     <div class="row">
      <div class="small-12 columns">
        <h1 class="banner-text">Woodland Psyche Center</h1>
        <div class="row">
          <div class="small-12 small-centered columns divider"></div>
          <div class="small-12 small-centered columns">
            <h4 class="banner-text">A Psychiatric Clinic </h5>
              <div class="banner-sub">
                <p class="banner-text"> Serving the Los Angeles area, providing Workers' Compensation evaluations and Disability evaluations as well as treatment for industrial injuries.</p>
              </div>
            </div>
            <div class="button-group radius stack-for-small small-centered text-center columns buttons">
              <a href="#contact" id="banner_contact" class="button large">Contact WPC Today!</a>
             <!-- <a id="banner_service" class="button large">Learn More</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Jumbotron -->

<!-- Sub-Content -->
<div id="sub_content">
  <a class="anchor" name="services-section"></a>
  <!-- Begin Services -->
  <div id="services" class="scrollto">
    <div class="row">
      <div class="margin-bottom-20 small-12 columns">
        <h1 class="header">Services</h1>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <div data-equalizer="column" class="row">
          <div data-equalizer-watch="column" class="small-12 medium-4 columns">
            <ul data-equalizer="column2" class="pricing-table">
              <div data-equalizer-watch="column2">
              <li class="title">Workers' Compensation Evaluations</li>
              <li class=""><%=image_tag('icon1.jpg', class: '')%></li>
              <li class="bullet-item">Experts in the System</li>
              <li class="description">The Woodland Psyche Center is a psychiatric practice with over 40 years experience in psychiatric evaluation and medical-legal reporting and over 30 years experience in evaluating and treating injured workers.</li>
            
              </div>
            </ul>
          </div>
          <div data-equalizer-watch="column" class="small-12 medium-4 columns">
            <ul data-equalizer="column2" class="pricing-table">
              <div data-equalizer-watch="column2">
              <li class="title">Psychotherapy</li>
              <li class=""><%=image_tag('icon3.jpg', class: '')%></li>
              <li class="bullet-item">Individualized Treatment Plans</li>
              <li class="description">Our clinicians all specialize in Workers' Compensation treatment and will work with you to get you back to work. No matter the outcome, our clinical staff is always here for you to help you move forward.</li>
              </div>
            </ul>
          </div>
          <div data-equalizer-watch="column" class="small-12 medium-4 columns">
            <ul data-equalizer="column2" class="pricing-table">
              <div data-equalizer-watch="column2">
              <li class="title">Medication Management</li>
              <li class=""><%=image_tag('icon2.jpg', class: '')%></li>
              <li class="bullet-item">Expert Medication Management</li>
              <li class="description">Sometimes therapy alone is not enough. We'll work with you to find an appropriate medication regimen to help you feel better.</li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>   
</div>
<!-- End Services -->

<div class="s-f-container section-footer fullWidth row">
  <div class="arrow">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
      <polygon points="0,0 80,0 40, 40" fill="#EBECFF" fill-opacity="1">
      </svg>
    </div>

    <div class="small-12 columns">
      <div class="row">
        <div class="small-5 small-centered columns">
          <div class="margin-top-40 margin-bottom-40">
            <blockquote>Our treatment program is directed not only towards reducing emotional stress symptoms, but also towards establishing a work-life direction in the first three months so that you can move forward as soon as possible to maximally avoid economic loss. <cite>Thomas Curtis, M.D.</cite></blockquote>
          </div>                
        </div>
      </div>
      <div class="row">
      <div class="small-5 small-centered columns margin-bottom-40">
      <ul>
        <li><%=image_tag('cover.jpg', height:228, width:150, class: '')%></li>
        <li class="margin-top-20 margin-bottom-20"><%=image_tag('available_at_amazon_en_vertical_rev.png', width:200, height:97, class: '')%></li>
         <li><a href="https://www.amazon.com/How-Win-Your-Case-Psychiatrist-ebook/dp/B08Z79YCLR/ref=sr_1_1?dchild=1&keywords=how+to+win+your+case+thomas+curtis&qid=1616698091&sr=8-1" target="_blank" class="button large">Buy Dr. Curtis's Book!</a></li>

      </ul>
      
      
    </div>
      </div>
  
    </div>
  </div>       
<div class="arrow">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" ><polygon points="0,0 82,0 41, 41" fill="#0b1042" fill-opacity="1"></svg>
</div>

  <!-- Begin Locations -->
<div id="locations" class="scrollto">
  <div class="row ">
    <div class="small-12 columns">
      <h1 class="header">Locations</h1>
    </div>
  </div>
  <div class=" content row">
      <!-- todo: make medium-block-grid-3 f -->
    <div class="small-centered subheader small-12 medium-8 columns">
        <p>The Woodland Psyche Center offers evaluation and treatment services at offices in Woodland Hills and Los Angeles. Our staff is ready to assist in your healing journey.</p>
        <div class="row">
          <div class="small-12 columns medium-6">
            <%=image_tag('wh.png', class:"big-icon") %>
            <p>Woodland Hills</p>
          </div>
            <div class="small-12 columns medium-6">
            <%=image_tag('la.jpg', class:"big-icon") %>
            <p>Los Angeles</p>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class=" small-12 columns">
      <div class="row">
        <div class="small-12 columns">
          <ul id="upperpane" class="title small-block-grid-3" data-equalizer>  
            <li data-equalizer-watch> <h4>Accessibile Locations</h4></li>
            <li data-equalizer-watch><h4>Here to Help </h4></li>
            <li data-equalizer-watch><h4>Full-Service Clinics</h4></li>    
          </ul>
          <ul id="pane" class="small-block-grid-3" data-equalizer>  
            <li data-equalizer-watch> <i class="realbig-icon fi-map large"></i><p>Convenient locations in Woodland Hills and Los Angeles.</p></li>
            <li data-equalizer-watch><i class="realbig-icon fi-torsos-all large"></i><p>Our clinics are staffed with dedicated professionals.</p></li>
            <li data-equalizer-watch><i class="realbig-icon fi-first-aid large"></i><p>Treatment and evaluation available at all locations.</p></li>    
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12  small-centered columns">
      <h2 class="header">
        Directions
      </h2>
      <p>Click below to get a map to our clinics.</p>
      <div class="row">
        <div class="small-7 small-centered margin-bottom-20 columns">
          <dl class="sub-nav">
            <dt>SELECTED OFFICE: </dt>
            <dd class="active"><a class="map-link" data-map="21800 Oxnard Street Woodland Hills CA 91367">Woodland Hills</a></dd>
            <dd><a class="map-link" data-map="3251 W. 6th Street Holmes Center Los Angeles CA 90020">Los Angeles</a></dd>
          </dl>
        </div> 
      </div>
    </div>
    <div class="small-12 small-centered columns">
      <div class="row">
        <iframe class="map-target small-12 columns big-icon"
       src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCnXy5N52r2BsyqhjIU-T4shbIqgeaf34g&q=21800+W+Oxnard+St,+Woodland+Hills,+CA+91367">
        </iframe>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="small-12  small-centered columns">
      <h2 class="header">
        Parking
      </h2>
      <h3>Warner Center Parking Rates</h3>

      <h3>Warner Center Neighborhood Parking Restrictions</h3>
      <p>There is also FREE PARKING in the neighborhood. For a detailed map of restrictions, see below.</p>
      <div class="row">
        <div class="small-12 medium-3 margin-bottom-20 columns">
          <h4>Calia St</h4>
          <p>No Parking - Mondays 10am to 12pm</p>
        </div> 
        <div class="small-12 medium-3 margin-bottom-20 columns">
          <h4>Owensmouth Ave</h4>
          <p>No Parking - Mondays 10am to 12pm</p>
        </div>
        <div class="small-12 medium-3 margin-bottom-20 columns">
          <h4>Marylee St</h4>
          <p>No Parking - Mondays 10am to 12pm</p>
        </div>
        <div class="small-12 medium-3 margin-bottom-20 columns">
          <h4>Vassar Ave</h4>
          <p>No Restrictions</p>
        </div> 
      </div>
      <div class="small-12 small-centered margin-bottom-20 columns">
        <%=image_tag("Parking Map.png", class:'big-icon')%>
      </div> 
      
     <!--  <h3>Los Angeles</h3>
      <div class="row">
        <div class="small-7 small-centered margin-bottom-20 columns">
          <dl class="sub-nav">
            <dt>SELECTED OFFICE: </dt>
            <dd class="active"><a class="map-link" data-map="21800 Oxnard Street Woodland Hills CA 91367">Woodland Hills</a></dd>
            <dd><a class="map-link" data-map="3251 W. 6th Street Holmes Center Los Angeles CA 90020">Los Angeles</a></dd>
          </dl>
        </div> 
      </div> -->
    </div>
  </div>  
</div>
<!-- End Locations -->


<div class="s-f-container section-footer fullWidth row">
  <div class="arrow">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
      <polygon points="0,0 80,0 40, 40" fill="#EBECFF" fill-opacity="1">
      </svg>
    </div>

    <div class="small-12 columns">
      <div class="row">
        <div class="small-5 small-centered columns">
          <div class="margin-top-40 margin-bottom-40">
            <blockquote>Doctors should examine the applicant and provide evidence and opinions on the applicant’s position in all cases. The doctor should also not be afraid to comment on a good faith defense. <cite>Thomas Curtis, M.D., Jan 2016, <em>Psyche Injury</em></cite></blockquote>
          </div>                
        </div>
      </div>
      <div class="row">
        <div class="small-5 small-centered columns margin-bottom-40">
          <ul>
            <li><%=image_tag('cover.jpg', height:228, width:150, class: '')%></li>
            <li class="margin-top-20 margin-bottom-20"><%=image_tag('available_at_amazon_en_vertical_rev.png', width:200, height:97, class: '')%></li>
             <li><a href="https://www.amazon.com/How-Win-Your-Case-Psychiatrist-ebook/dp/B08Z79YCLR/ref=sr_1_1?dchild=1&keywords=how+to+win+your+case+thomas+curtis&qid=1616698091&sr=8-1" target="_blank" class="button large">Buy Dr. Curtis's Book!</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>       
<div class="arrow">
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" ><polygon points="0,0 82,0 41, 41" fill="#0b1042" fill-opacity="1"></svg>
</div>
<!-- Update Van Nuys Fax and Add days for Locations -->
<!-- Begin Contact -->
<div id="contact" class="scrollto">
  <a class="anchor" name="contact-form"></a>
  <div class="row ">
    <div class=" small-12 columns">
      <h1 class="header">Contact</h1>
    </div>
  </div>
  <div class="margin-top-40 row">
    <div class="small-12 medium-10 small-centered columns">
       <div class="panel big-icon row">
          <div class="small-12 columns">
	          <dl>
	             <h3>IF YOU HAVE A MEDICAL OR PSYCHIATRIC EMERGENCY, PLEASE DO NOT USE THIS FORM, CALL 911 OR GO TO THE NEAREST HOSPITAL.</h3>
	          </dl>
          </div>
         </div>
       </div>
    </div>
    <div class="row margin-top-20 margin-bottom-40">
       <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc8KbKee7_RnceqWlKhTUw5VPrU06CGdKbylnFwtLACcoZD9w/viewform?embedded=true"  frameborder="0" width="100%" height="1200" marginheight="0" marginwidth="0">Loading...</iframe>
   </div>
 </div>
 <!-- End Contact -->
</div>
<!-- End Sub-Content -->




