
   <!-- Jumbotron -->
   <div id="home" class="shadow scrollto jumbotron">
    <!-- <img  src="img/jumbo_bg.jpg"> -->
      <div class="banner">
        <div class="banner-area">
         <div class="row">
            <div class="small-12 columns">
              <h1 class="banner-text">Hamlin Psyche Center</h1>
              <div class="row">
                <div class="small-12 small-centered columns divider"></div>
                <div class="small-12 small-centered columns">
                  <h4 class="banner-text">A Psychiatric Clinic </h5>
                  <div class="banner-sub">
                  <p class="banner-text"> Serving the Los Angeles area, providing Workers' Compensation evaluations and Disability evaluations as well as treatment for industrial injuries.</p>
                  </div>
                </div>
                <div class="button-group radius stack-for-small small-centered text-center columns buttons">
                    <a id="banner_contact" class="button large">Get an Appointment</a>
                    <a id="banner_service" class="button large">Learn More</a>            
                </div>
              </div>
           </div>
          </div>
          </div>
        </div>
      </div>
  <!-- End Jumbotron -->

  <!-- Sub-Content -->
  <div id="sub_content">
    <a class="anchor" name="services-section"></a>
    <!-- Begin Services -->
    <div id="services" class="scrollto">
      <div class="row">
        <div class="small-12 columns">
                <h1 class="header">Services</h1>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          
        </div>
      </div>
        <div class="s-f-container section-footer fullWidth row">
          <div class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
              <polygon points="0,0 80,0 40, 40" fill="#EBECFF" fill-opacity="1">
            </svg>
          </div>
          <div class="margin-top-40 small-12 text-center columns">
          <div class="show-for-medium-up">
            <h3 class="section-footer-text">
              <%=image_tag('squigs(alt).png', width: '50')%>
              Any questions? Need an appointment? 
              <%=image_tag('squigs(alt).png', width: '50')%>
            </h3>
          </div>
          <div class="show-for-small-only">
              <h3 class="section-footer-text">
              Any questions? <br>
              Need an appointment? 
            </h3>
          </div>
            <a id="service_contact" class="margin-top-40 margin-bottom-40 alt-button button radius large">Contact the Center</a>             
          </div>
          <div class="small-12 columns">
            <div class="row">
              <div class="small-5 small-centered columns">
                <div class=" margin-bottom-40 section-footer-link">
                  <a id="service_footer" href="#services">
                    <%=image_tag('logo_alt.png', class: 'section-footer-logo')%>
                    <p>Back to Top </p>
                  </a>    
                </div>                
              </div>
            </div>
          </div>

        </div>          
      </div>
      <!-- End Services -->
       <div class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
              <polygon points="0,0 82,0 41, 41" fill="#0b1042" fill-opacity="1">
            </svg>
      </div>
      <!-- Begin Locations -->
     <div id="locations" class="scrollto">
      <div class="row ">
        
        <div class="small-12 columns">
              <h1 class="header">Locations</h1>
        </div>
      </div>
      <div class="row">
        <div class=" small-12 columns">
          <div class="content">
            <div class="row">
              <div class="subheader small-12 columns">
                <h3>The Hamlin Psyche Center offers evaluation and treatment services throughout the Los Angeles area.  Psychological healing is not far away.</h3>
                <ul id="upperpane" class="title small-block-grid-3" data-equalizer>  
                    <li data-equalizer-watch> <h4>Accessibile Locations</h4></li>
                    <li data-equalizer-watch><h4>Here to Help </h4></li>
                    <li data-equalizer-watch><h4>Full-Service Clinics</h4></li>    
                </ul>
                <ul id="pane" class="small-block-grid-3" data-equalizer>  
                    <li data-equalizer-watch> <i class="realbig-icon fi-map large"></i><p>Convenient locations in Van Nuys, Los Angeles and Long Beach.</p></li>
                    <li data-equalizer-watch><i class="realbig-icon fi-torsos-all large"></i><p>Our clinics are staffed with dedicated professionals.</p></li>
                    <li data-equalizer-watch><i class="realbig-icon fi-first-aid large"></i><p>Treatment and evaluation available at all locations.</p></li>    
                </ul>
            </div>
          
          </div>
        </div>
      </div>
      </div>
        <div class="row">
        <!-- todo: make medium-block-grid-3 f -->
                  <div class="small-centered small-12 columns">
                  <div class="row">
                     <div class="small-12 medium-4 columns">
                      <div class="map-button">
                      <div id="vn" class="mapWrap text-center">
                        <a class="map-link" data-map="14531 Hamlin Street Van Nuys CA 91411"><%=image_tag('vn.jpg', class: 'big-icon')%>
                        <p class="shadow initial-title">Van Nuys</p>
                        <div class="mapDescriptionWrapper">
                          <div class="mapDescription">
                            <p>14531 Hamlin Street</p>
                            <p>Van Nuys, CA 91411</p>
                          </div>
                        </div>
                        </a>
                        </div>
                        </div>
                    </div>
                    <div class="small-12 medium-4 columns"> 
                      <div class="map-button">
                        <div id="la" class="mapWrap">
                          <a class="map-link" data-map="4300 Long Beach Blvd. Long Beach CA 90807"><%=image_tag('lb.jpg', class: 'big-icon')%>
                            <p class="shadow initial-title">Long Beach </p>
                            <div class="mapDescriptionWrapper">
                              <div class="mapDescription">
                                <p>4300 Long Beach Blvd.</p>
                                <p>Long Beach, CA 90807</p>
                              </div>
                            </div>
                          </a>
                    </div>
                </div>
              </div>
                <div class="small-12 medium-4 columns"> 
                      <div class="map-button">
                        <div id="lb" class="mapWrap">
                          <a class="map-link" data-map="4300 Long Beach Blvd. Long Beach CA 90807"><%=image_tag('lb.jpg', class: 'big-icon')%>
                            <p class="shadow initial-title">Long Beach </p>
                            <div class="mapDescriptionWrapper">
                              <div class="mapDescription">
                                <p>4300 Long Beach Blvd.</p>
                                <p>Long Beach, CA 90807</p>
                              </div>
                            </div>
                          </a>
                    </div>
                    </div>
            </div>
            </div>
            </div>
    
              </div>
              <div class="row">
              <div class="small-12  small-centered columns">
                <h2 class="header">
                  
                    Directions
                  
                </h2>
                <p>Click on the images to get a map to our clinics.</p>
                <div class="row">
                  <div class="small-12 margin-bottom-20 columns">
                 
                    
                      </div> 
                    </div>
                </div>
                <div class="small-12 small-centered medium-8 columns">
                  <div class="row">
                   <iframe class="map-target small-12 columns big-icon"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCnXy5N52r2BsyqhjIU-T4shbIqgeaf34g&q=14531+Hamlin+Street+Van+Nuys+CA+91411">
                  </iframe>
                  </div>
              </div>
                </div>
      
      <div class="s-f-container section-footer fullWidth row">
           <div class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
              <polygon points="0,0 80,0 40, 40" fill="#EBECFF" fill-opacity="1">
            </svg>
          </div>
          <div class="margin-top-40 small-12 columns">
            <div class="row">
              <div class="medium-10 large-7 columns small-centered">
              <h3 class="section-footer-text">Click Below For</h3>
              <div class="divider columns small-centered"></div>
                <div class="row">
                  <div class="small-6 columns"> 
                    <h4 class="section-footer-text">Directions to Van Nuys</h4>
                    <h5 class="margin-top-15 section-footer-text"><a class="alt-button button radius large" href="#" data-reveal-id="vn405">From the 405</a> </h5>
                    <div id="vn405" class="medium reveal-modal" data-reveal> 
                    <h2 class="text-center">From the 405</h2>     
                    <p class="text-center section-footer-text">
                      Take the Victory Blvd. exit towards the Gov't Center. <br>
                      Take Victory Blvd. to Van Nuys Blvd. <br>
                      Turn left on Van Nuys Blvd. <br>
                      Turn left on Hamlin Street<br>
                      The Center is on your right.
                    </p> <a class="close-reveal-modal">&#215;</a> 
                    </div>
                    <h5 class="section-footer-text"><a class="button radius large" href="#" data-reveal-id="vn101">From the 101</a></h5>
                    <div id="vn101" class="medium reveal-modal"data-reveal>
                    <h2 class="text-center">From the 101</h2> 
                      <p class="text-center section-footer-text">
                      Take the Van Nuys Blvd. exit towards Van Nuys. <br>
                      Turn left on Hamlin Street. <br>
                      The Center is on your right.
                    </p><a class="close-reveal-modal">&#215;</a> 
                    </div>
                  </div>
                  <div class="small-6 columns">
                    <h4 class="section-footer-text">Directions to Long Beach</h4>
                    <h5 class="margin-top-15 section-footer-text"><a class="button radius large" href="#" data-reveal-id="lb710n">From the 710 N</a> </h5>
                    <div id="lb710n" class="medium reveal-modal" data-reveal> 
                    <h2 class="text-center">From the 710 N</h2>     
                    <p class="text-center section-footer-text">
                      Take the Del Amo Blvd E exit.<br>
                      Merge onto W Del Amo Blvd. <br>
                      Turn right onto Long Beach Blvd. <br>
                      Continue on Long Beach Blvd. for about one mile.<br>
                      The Center is on your left.
                    </p> <a class="close-reveal-modal">&#215;</a> 
                    </div>
                     <h5 class="section-footer-text"><a class="button radius large" href="#" data-reveal-id="lb710s">From the 710 S</a> </h5>
                    <div id="lb710s" class="medium reveal-modal" data-reveal> 
                    <h2 class="text-center">From the 710 S</h2>     
                    <p class="text-center section-footer-text">
                      Take the Long Beach Blvd S exit. <br>
                      Continue on Long Beach Blvd. for about 2 miles. <br>
                      The Center is on your left.
                    </p> <a class="close-reveal-modal">&#215;</a> 
                    </div>
                    <h5 class="section-footer-text"><a class="button radius large" href="#" data-reveal-id="lb405">&nbsp;From the 405 &nbsp;</a> </h5>
                    <div id="lb405" class="medium reveal-modal" data-reveal> 
                    <h2 class="text-center">From the 405</h2>     
                    <p class="text-center section-footer-text">
                      Take the Long Beach Blvd exit. <br>
                      Follow signs for Bixby Knolls.  <br>
                      Merge onto Long Beach Blvd <br>
                      Continue on Long Beach Blvd. for about 1 and a half miles. <br>
                      The Center is on your right.
                    </p> <a class="close-reveal-modal">&#215;</a> 
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="small-5 small-centered columns">
                <div class="margin-top-20 margin-bottom-40 section-footer-link">
                  <a id="location_footer" href="#locations">
                    <%=image_tag('logo_alt.png', class: 'section-footer-logo')%>
                    <p>Back to Top </p>
                  </a>    
                </div>                
              </div>
            </div> 
          </div>
       </div>
    </div>
    <!-- End Locations -->
      <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
          <polygon points="0,0 82,0 41, 41" fill="#0b1042" fill-opacity="1">
        </svg>
      </div>
    <div id="documents" class="scrollto">
      <a class="anchor" name="document"></a>
      <div class="row ">
        <div class=" small-12 columns">
              <h1 class="header">Documents</h1>
        </div>
      </div>
      
      <div class="row">
        <div class="margin-top-40 small-12 text-center small-centered columns">
          <div class="row">
            <div class="small-12 medium-8 small-centered columns">
              <h3>Resources For Patients</h3>
              <p>As a patient of the Hamlin Psyche Center, you are entitled to the most effective and appropriate treatment.  Click below for our Treatment Program outlining our psychotherapy program and our medication formulary.</p>
            </div>  
          </div>
          <ul class="margin-top-20 small-block-grid-1 medium-block-grid-3">
            <li>
              <%=link_to("https://www.filestackapi.com/api/file/4Lv8KzkXSSeX2oJDHm3z", class: "doc") do%>
              <caption>Treatment Program<br><i class="realbig-icon fi-page-export-doc large"></i> </caption>
              <%end%>
            </li>
            <li>
              
            </li>          
            <li>
              
            </li>
           </ul>
        </div>     
        <div class="small-12 columns">
          <div class="row">
              <div class="margin-top-40 small-12 medium-8 small-centered columns">
                <h3>Articles</h3>
                 <p>With over 40 years of experience in the California Workers' Compensation system, Dr. Thomas Curtis, M.D., has been instrumental in shaping case law surrounding psychiatric injury.  Click below for articles written by Dr. Curtis on various Workers' Compensation issues.</p>
              </div>  
          </div>
          <ul class="margin-top-20 small-block-grid-1 medium-block-grid-3">
            <li>
            <%=link_to("https://www.filestackapi.com/api/file/XnSfqn4QZ62igcbD40Nd", class: "doc") do%>
              <caption>Guidelines on Guidelines <br> by Thomas Curtis, M.D. <br><i class="realbig-icon fi-page-export-doc large"></i> </caption>
            <%end%>
            </li>  
            
           <li>
            <%=link_to("https://www.filestackapi.com/api/file/xse0hvweRROI6MHmWfB8", class: "doc") do%>
              <caption>Psyche Injury  <br> by Thomas Curtis, M.D. <br><i class="realbig-icon fi-page-export-doc large"></i> </caption>
            <%end%>
            </li>
            <li></li>
          </ul>
        </div>   
      </div>
        <div class="s-f-container section-footer fullWidth row">
             <div class="arrow">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
                <polygon points="0,0 80,0 40, 40" fill="#EBECFF" fill-opacity="1">
              </svg>
            </div>
        <div class="row">
          <div class="small-5 small-centered columns">
            <div class="margin-top-20 margin-bottom-40 section-footer-link">
              <a id="location_footer" href="#locations">
                <%=image_tag('logo_alt.png', class: 'section-footer-logo')%>
                <p>Back to Top </p>
              </a>    
            </div>                
          </div>
        </div> 
      </div>
    </div>
    <div class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" >
          <polygon points="0,0 82,0 41, 41" fill="#0b1042" fill-opacity="1">
        </svg>
      </div>
    <!-- Begin Contact -->
    <div id="contact" class="scrollto">
      <a class="anchor" name="contact-form"></a>
      <div class="row ">
        <div class=" small-12 columns">
              <h1 class="header">Contact</h1>
        </div>
      </div>
      <div class="margin-top-40 row">
        <div class="small-12 medium-10 small-centered columns">
          <h3>
          Get in touch by filling out the form below or by calling or faxing.</h3>
         </div>
      </div>
        <div class="form-header margin-top-40 margin-bottom-40 small-centered small-12 medium-8 large-6 columns">
         <%= render 'form' %>
         <div id="spinner"></div> 
        </div>
    </div>
    <!-- End Contact -->
  </div>
  <!-- End Sub-Content -->

 


