<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="nk9ewdmQz46dX1gmZJ4TNKpqLyvUxcxNmdeLok4Ak5g" />
    <title>Woodland  Psyche Center | A Psychiatric Clinic</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Droid+Sans', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= stylesheet_link_tag    'hpc', media: 'all', 'data-turbolinks-track' => true %>  
  <%= stylesheet_link_tag    'foundation-icons/foundation-icons', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<!-- Begin Navigation -->
  <div class="navbarWrapper contain-to-grid shadow">
    <nav class="navbar top-bar" data-topbar role="navigation"> 
      <ul class="title-area">
        <li class="name"> 
          <h1><a id="logo-link" href="#home"><%=image_tag('logo.png', id: "logo")%></a></h1> 
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> 
       
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul id="#nav_links" class="right">
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#locations">Locations</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </section>
      </ul> 
     </nav>
   </div>
   <!-- End Navigation -->
   <%= yield %>

<%= javascript_include_tag 'app', 'data-turbolinks-track' => true %>
 <footer class="footer-shadow">
    <div class="row text-center">
      <div class="full-height border small-7 large-6 columns">
          <div class="footer-text vertical-center">

            <h3><%=image_tag('logo.png', class: "section-footer-logo")%></h3>
            <p>Van Nuys - Los Angeles</p>
            <p>PH: 818-780-4409</p>
            <p class="copyright">&copy; 2021 Woodland Psyche Center</p>
          </div>
      </div>
      <div class="full-height small-5 large-6 columns">
          <div class="vertical-center">
            <ul class="footer-text footer-nav">
              <li><a href="#home">Home</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="#locations">Locations</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
      </div>
    </div>
  </footer>
</body>
</html>
